<header>
  <div class="hamburger">
    <div class="hamburger-icon"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></div>
  </div>
  <h1 class="header-text">Student Adviser</h1>
</header>
<section class="day-head">
  <h1>Add new event</h1>
</section>
<div class="content-section">
  <form name="new-event">
    <h3>Event Name: </h3> <br />
  </form>
</div>